.my_movies {
  position: relative;
  margin-right: 2rem;
}

.my_movies > svg {
  font-size: 28px;
}

.my_movies > p {
  position: absolute;
  right: -5px;
  top: 0px;
  background-color: rgb(240, 240, 140);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(36, 36, 36);
}
